








* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html,body {
      overflow-x: hidden;
  }
  img {
    max-width: 100%;
  }
  .wrapper {
    max-width: 1280px;
    width: 90%;
    margin: auto;
  }


.section-1{
    background-image:url("/images/2.png") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 130px 0px;
}
.navigation{
    position: relative;
top: -80px; 
}
.logo img{
    height: 20vh;
    width: 10vw; 

}
.items{
    color: white;
}
.items ul li{
    display: inline-block;
    padding: 33px;
    font-size: 20px;
    font-weight: bold;

}
.section1-content h1{
    color: white;
    font-weight: bold;
    font-size: 65px;
max-width: 420px;

}
.section1-content p{
    color: white;
    font-size: 20px;
    max-width: 451px;
    margin-top: 20px;
}
.section1-button{
    background-color: rgb(226, 21, 21);
    color: white;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    width: 14vw;
    height: 7vh;
    margin-top: 20px;
}



.section-2{
    background-color: rgb(245, 237, 223);
    padding: 90px 0px;
}
.content-2{
   text-align: center;
}
.content-2 h1{
    
    color: rgb(228, 30, 30);
    font-weight: bold;
    font-size: 50px;
}
.content-2 p{
    max-width: 525px;
margin: auto;   
    color: rgb(228, 30, 30);
    font-size: 18px;
}
.chef{
    text-align: center;
    padding-top: 60px;
}

.our-chef img{
    height: 28vh;
    width: 12vw;
    border-radius: 50%;
}
.our-chef h1{
    color: rgb(228, 30, 30);
    font-size: x-large;
    font-weight: bold;
}
.our-chef p{
    color: rgb(228, 30, 30);
    
}
.section-3{
    background-color: rgb(245, 75, 60); 
    padding: 130px 0px;
}
.content-3{
    padding: 50px 0px;
}
.best-burger h1{
    color: white;
    font-weight: bold;
    font-size: 45px;
}
.best-burger p{
    color: white;
    max-width: 470px;
padding-top: 20px;
font-size: 18px;
}
.section3-button{
    background-color: white;
    color: red;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    width: 14vw;
    height: 7vh;
    margin-top: 30px;
}
.section3-image img{
    border-radius: 450px;
    
    height: 66vh;
    width: 30vw;
}
/* swiper slider section css */
html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slidersection{
        background-color: white;
        padding: 30px 0px;
    }
    .slidercard img{
        height: 90vh;
        object-fit: cover;
    }
    .slidercard{
        /* text-align: center; */
        width: 100%;
    }
    .slidercard p{
        border-bottom: 2px solid orange;
        width: 150px;
        margin: auto;
        

    }
    .slidercard h1{
        font-size: 35px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: orange;
    }
    .slidercard img{
        padding-top: 30px;
    }




/* .......................... */
.section-4{
    background-color: rgb(245, 237, 223);
    padding: 130px 0px;
}
.content-4{
    padding: 50px 0px;
}

.big-burger h1{
    color: red;
    font-weight: bold;
    font-size: 45px;
}
.big-burger p{
    color: red;
    max-width: 470px;
padding-top: 20px;
font-size: 18px;
}
.section4-button{
    background-color: black;
    color: rgb(245, 10, 10);
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    width: 14vw;
    height: 7vh;
    margin-top: 30px;   
}
.section4-image img{
    border-radius: 450px;
    
    height: 66vh;
    width: 30vw;
}

.section5{
    background-color: rgb(240, 184, 88);
    padding: 160px 0px;
}
.dealcard{
    background-color: white;
    text-align: center;
    padding: 90px 0px;
}
.dealcard h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.dealcard img{
    height: 30vh;
}
.dealcard h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.dealcard p{
    max-width: 275px;
margin: auto;
padding-top: 20px;
font-family: 'Times New Roman', Times, serif;
font-size: 17px;
}
.dealcard button{
    background-color: orange;
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}














.section-6{
    background-image: url("/images/berry.png") ;
    background-size: cover;
    padding: 100px 0px;
    background-position: center;
    background-position-y: bottom;
    
}
.content-6{
    text-align: center;
    padding: 180px 0px;
}
.details p{
    color: rgb(255, 255, 255);
    font-weight: bold;
    max-width: 785px;
margin: auto;
    font-size: 25px;
    
}
.details h2{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 35px;
    padding-top: 30px;
    
}
   /* ............................................. */
.section-7{
    background-color: rgb(245, 237, 223);
    padding: 100px 0px;  
   
}
.content-7{
    text-align: center;
}

.update h1{
    color: red;
    font-weight: bold;
    font-size: 50px;
    
}
.update p{
    color: red;
    max-width: 500px;
margin: auto;
padding-top: 20px;
font-size: 18px;
    
}
.useremail input{
    padding: 10px 60px;
    outline: none;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    
}
.subscribe button{
    
    margin-top: 26px;
    background-color: black;
    color: red;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
}
.section-8{
    background-color: rgb(7, 7, 7);
    padding: 150px 0px;
}
.mediaicons i{
    color: white;
    font-size: 30px;
    padding: 10px 0px 0px 7px;
}
.title h1{
    color: white;
    font-size: 25px;
    font-weight: bold;
    
}
.title p{
    color: white;
    max-width: 416px;
    padding-top: 20px;
}
.title img{
    height: 30px;
    width: 34px;
    padding-left: 6px;
    
}

.about h1{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.about p{
    color: white;
}
.services h1{
    color: white;
    font-size: 25px;
    font-weight: bold; 
}
.services p{
    color: white;
}
.other h1{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.other p{
    color: white;
}

@media only screen and (max-width:700px){
    .logo img{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .items ul li{
        padding: 20px;
        font-size: larger;
        
    }
    .section1-content h1{
        font-size: 40px;
    }
    .section1-content p{
        font-size: 15px;
    }
    .section1-button{
        font-size: small;
    }

} 