.section-1{
    background-image:url("/images/2.png") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 30px;
    height: 120vh;
    padding-top: 40px;
}
.logo img{
    height: 20vh;
    width: 10vw; 

}
.items{
    color: white;
}
.items ul li{
    display: inline-block;
    padding: 33px;
    font-size: 20px;
    font-weight: bold;

}
.section1-content h1{
    color: white;
    font-weight: bold;
    font-size: 89px;

}
.section1-content p{
    color: white;
    font-size: 20px;
}
.section1-button{
    background-color: rgb(226, 21, 21);
    color: white;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    width: 14vw;
    height: 7vh;
}
.section-2{
    background-color: rgb(245, 237, 223);
    height: 120vh;
}
.content-2{
    margin-top: 70px;
    margin-left: 274px;
}
.content-2 h1{
    text-align: center;
    color: rgb(228, 30, 30);
    font-weight: bold;
    font-size: 50px;
}
.content-2 p{
    text-align: center;
    color: rgb(228, 30, 30);
    font-size: 18px;
}
.chef{
    padding-left: 225px;
}
.fries{
    height: 100px;
    width: 120px;
    position: absolute;
    top: 733px;
    left: 160px;
}
.garlic{
    height: 100px;
    width: 120px;
    position: absolute;
    top: 970px;
    left: 10px;
}
.leave{
    height: 100px;
    width: 120px;
    position: absolute;
    top: 1230px;
    left: 415px;
}
.mashroom{
    height: 100px;
    width: 120px;
    position: absolute;
    top: 1225px;
    left: 750px;
}
.petti{
    height: 100px;
    width: 120px;
    position: absolute;
    top: 715px;
    right: 50px;
}
.chilli{
    height: 100px;
    width: 120px;
    position: absolute;
    top: 970px;
    right: 50px;
}
.our-chef img{
    height: 28vh;
    width: 12vw;
    border-radius: 80px;
}
.our-chef h1{
    color: rgb(228, 30, 30);
    font-size: x-large;
    font-weight: bold;
}
.our-chef p{
    color: rgb(228, 30, 30);
    
}
.section-3{
    background-color: rgb(245, 75, 60); 
    height: 120vh;
}
.content-3{
    margin-top: 180px;
}
.best-burger h1{
    color: white;
    font-weight: bold;
    font-size: 45px;
}
.best-burger p{
    color: white;
}
.section3-button{
    background-color: white;
    color: red;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    width: 14vw;
    height: 7vh;
}
.section3-image img{
    border-radius: 450px;
    margin-left: 150px;
    height: 66vh;
    width: 30vw;
}
.section-4{
    background-color: rgb(245, 237, 223);
    height: 120vh;
}
.content-4{
    margin-top: 180px;
}
.big-burger{
    padding-left: 240px;
}
.big-burger h1{
    color: red;
    font-weight: bold;
    font-size: 45px;
}
.big-burger p{
    color: red;
}
.section4-button{
    background-color: black;
    color: rgb(245, 10, 10);
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    width: 14vw;
    height: 7vh;   
}
.section4-image img{
    border-radius: 450px;
    margin-left: 80px;
    height: 66vh;
    width: 30vw;
}
.section-6{
    background-image: url("/images/berry.png") ;
    background-size: cover;
    height: 120vh;
}
.content-6{
    margin-top: 250px;
}
.details p{
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-left: 350px;
    font-size: 25px;
    
}
.details h2{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 35px;
    padding-left: 500px;
    
}
.section-7{
    background-color: rgb(245, 237, 223);
    height: 120vh;
}
.content-7{
    margin-top: 200px;
}
.update{
    padding-left: 380px;
}
.update h1{
    color: red;
    font-weight: bold;
    font-size: 50px;
    
}
.update p{
    color: red;
    
}
.user-email input{
    margin: 0px 0px 250px 369px;
    width: 400px;
}
.subscribe button{
    margin-left: 171px;
    margin-top: 26px;
    background-color: black;
    color: red;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    width: 9vw;
    height: 6vh;
}
.section-8{
    background-color: rgb(7, 7, 7);
    height: 120vh;
}
.content-8{
    margin-top: 200px;
}
.title h1{
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-left: 60px;
}
.title p{
    color: white;
    margin-left: 60px;
}
.title img{
    height: 30px;
    width: 34px;
    padding-left: 6px;
    
}
.icon{
    margin-left: 64px;
}
.about{
    margin-left: 103px;
}
.about h1{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.about p{
    color: white;
}
.services h1{
    color: white;
    font-size: 25px;
    font-weight: bold; 
}
.services p{
    color: white;
}
.other h1{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.other p{
    color: white;
}